* {
  color: #fff;
}

html
{
  scroll-padding-top: var(--scroll-padding, 148px);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eee;
  scroll-behavior: smooth;
}
body::-webkit-scrollbar {
  display: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.page-changer-with-arrows
{
    display: flex;
}

.page-changer-with-arrows img
{
    width: 30px;
    height: 30px;
}
.page-changer-with-arrows .page-button-arrow
{
  color: rgba(11, 12, 16, .6);
  margin: 5px;
  font-size: 18pt;
  font-weight: 700;
  cursor: default;
  transition: all .2s ease-in-out;
}
.page-changer-with-arrows .page-button-arrow.active
{
  color: #0B0C10;
  transition: all .2s ease-in-out;
}
.page-changer-with-arrows .page-button-arrow:hover
{
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 35px, rgba(0, 0, 0, 0.06) 0px 4px 6px, rgba(0, 0, 0, 0.08) 0px 12px 13px, rgba(0, 0, 0, 0.04) 0px -4px 5px;
}

.page-changer-with-arrows .page-button-arrow-left
{
    transform: rotate(90deg);
    margin-right: 5px;
    padding-top: 5px;
    transition: all .2s ease-in-out;
}
.page-changer-with-arrows .page-button-arrow-right
{
    transform: rotate(-90deg);
    margin-left: 5px;
    padding-top: 5px;
    transition: all .2s ease-in-out;
}
.page-changer-with-arrows .page-button-arrow-left:hover
{
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 35px, rgba(0, 0, 0, 0.06) 0px 4px 6px, rgba(0, 0, 0, 0.08) 0px 12px 13px, rgba(0, 0, 0, 0.04) 0px -4px 5px;
}
.page-changer-with-arrows .page-button-arrow-right:hover
{
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 35px, rgba(0, 0, 0, 0.06) 0px 4px 6px, rgba(0, 0, 0, 0.08) 0px 12px 13px, rgba(0, 0, 0, 0.08) 0px -8px 5px;
}
.page-changer-with-arrows .page-counter
{
    color: #0B0C10;
    margin: 5px;
    font-size: 18pt;
    font-weight: 700;
    cursor: default;
}
